BasedOnStyle: Microsoft
IndentWidth: 2
TabWidth: 2
UseTab: Never
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterControlStatement: true
  AfterNamespace: true
  AfterEnum: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true



//test
┌──(abdallah-shehawey㉿Mega)-[~]
└─$ history | grep clang-format                
 1401  \nsudo apt install -y clang-format\n\nnano ~/.clang-format\n
 1402  \n\nnano ~/.clang-format\n
 1403  nano ~/.clang-format\n
 1404  rm ~/.clang-format
 1405  rm ~/.clang-format\n
 1415  sudo apt install clang-format
 1416  clang-format --version
 1417  clang-format
 1422  which clang-format
 1423  clang-format --version\n
 1425  nano .clang-format\n
 1451  nvim .clang-format\n
 1466  clang-format -i -style="{BasedOnStyle: Microsoft, IndentWidth: 2, TabWidth: 2, UseTab: Never}" testing.c
 1467  rm .clang-format\n
 1468  sudo cp .clang-format /usr/share/clang/\n
 1469  echo "int main(){return 0;}" > test.c\nclang-format -style=file test.c\n
 1470  nvim ~/.clang-format\n
 1471  cp .clang-format ~/.clang-format\n
 1472  ls -a ~ | grep clang-format\n
 1473  echo "int main(){return 0;}" > /tmp/test.c\nclang-format /tmp/test.c\n
 1474  ls -la ~/.clang-format\n
 1475  cp ~/.clang-format ~/.clang-format.backup\ncp ~/.clang-format ~/. _clang-format\n
 1476  cp ~/.clang-format ~/.clang-format.backup\ncp ~/.clang-format ~/. _clang-format   
 1477  cp ~/.clang-format ~/_clang-format\n
 1478  ┌──(abdallah-shehawey㉿Mega)-[~]\n└─$ cp ~/.clang-format ~/_clang-format\n\n                                                                                                                                \n┌──(abdallah-shehawey㉿Mega)-[~]\n└─$ \n
 1479  ls -la ~ | grep clang-format\n
 1480  echo "int main(){return 0;}" > /tmp/test.c\nclang-format -style=file /tmp/test.c\n
 1481  clang-format -style=file /tmp/test.c\n
 1482  clang-format -style=file:/home/abdallah-shehawey/.clang-format /tmp/test.c\n
 1485  clang-format /tmp/test.c\n
 1487  clang-format test.c\n
 1488  sudo ln -s /home/abdallah-shehawey/.clang-format /_clang-format\n
 1495  nvim _clang-format
 1624  clang-format -i -style="{BasedOnStyle: Microsoft, IndentWidth: 2, TabWidth: 2, UseTab: Never}" *
 2112  history | grep clang-format

